@font-face {
    font-family: 'open sans';
    src: url('../fonts/opensans-light-webfont.eot');
    src: url('../fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/opensans-light-webfont.woff2') format('woff2'),
    url('../fonts/opensans-light-webfont.woff') format('woff'),
    url('../fonts/opensans-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.wrapper {
    margin: 0 auto;
    height: 250px;
    width: 600px;
    background: linear-gradient(to top, #97a2a6, #dcdcdc);
    border-radius: 10px;
}

.box-timer{
    margin: 10px 20px 0 16px;
    padding: 0 0 0 80px;
    border-radius: 10px;

}

.timer{
    margin: 150px 0 0 0;
    font: 90px 'open sans';
    text-shadow: 0 0 15px #0c739f;

}

.box-button{
    margin: 35px 0 0 0;
    padding: 0 0 0 90px;
}

.timer-button{
    border: none;
    background: #54b5de;
    padding: 20px 90px 20px 90px;
    font: 14px 'open sans';
}

.timer-button:hover{
    background: linear-gradient( #2e7ac4, #4faedb);
    color: #dcdcdc;

}

